@use '../base/variables' as *;
.card {
    background-color: $colorBlanco;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    overflow: hidden;
    height: 100%;
    img {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }
    h3,
    p,
    .card_price {
        padding: 0 15px;
    }
    h3 {
        margin: 15px 0;
        color: $textoPrincipal;
    }
    p {
        margin: 0 0 15px 0;
        font-size: 14px;
        flex-grow: 1; // Empuja el precio y botón hacia abajo
    }
    .card_price {
        display: block;
        font-weight: bold;
        font-size: 18px;
        color: $colorSecundario;
        margin-bottom: 15px;
    }
    .btn-add {
        margin: 0 15px;
        align-self: flex-start; // Botón alineado a su contenido
    }
}