@use '../base/variables' as *;
@use '../components/buttons' as *;
.login-container {
    background-color: $colorFondo;
    width: 400px;
    margin: 80px auto;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    .logo {
        width: 150px;
        height: 150px;
        margin: 0 auto 20px;
        border-radius: 50%;
        overflow: hidden;
        border: 2px solid $colorSecundario;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .login-form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        input {
            padding: 12px;
            border-radius: $border-radius;
            border: 1px solid #ddd;
        }
        .btn-entrar {
            @include btn-base($colorSecundario);
            width: 100%;
        }
        .btn-invitado {
            @include btn-base($textoPrincipal, $colorBlanco, 16px);
            width: 100%;
        }
    }
}