// Paleta de Colores (Guía de estilo actualizada)
$textoPrincipal: rgb(44, 115, 173);
$colorFondo: rgb(248, 212, 183);
$colorSecundario: rgb(212, 67, 67);
$colorBlanco: white;
$colorFondoHeader: rgb(82, 82, 82);
// Tipografía
$fuentePrincipal: Arial,
Helvetica,
sans-serif;
$tamanoTextoPrincipal: 16px;
$border-radius: 8px;
$gap-grid: 25px;